<div class="container">
<h1>まいぺーじ</h1>

<p>なまえ</p>
<%= @user.name %>
<p>Email</p>
<%= @user.email %>
<p>でんわ</p>
<%= @user.phone %>
<p>住所</p>
<%= @user.address %>
<p></p>
<%= link_to("編集ここから", "/users/#{@user.id}/edit") %>
</div>