<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong></br>
  <h2><%= @book.title %></h2>
</p>

<p>
  <strong>Author:</strong></br>
  <h3><%= @book.author %></h3>
</p>

<p>
  <strong>Content:</strong></br>
  <%= @book.content %>
</p>
<p>
  <strong>Page Image</strong></br>
 <%= image_tag page_image_book_path(@book), :size => "120x120" %>

</p>
<p>
  <strong>Current Booking Status</strong></br>
  
  <% @book.reservations.each do |r| %>
  <% if r.end >= Date.today %>
 Start: <%= r.start %> |
 Booking end: <%= r.end %></br>
  <% end %>
 <% end %>
</p>
</div>


<%= link_to "Rental", "/reservations/#{@book.id}/rental"%>|
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
