<p id="notice"><%= notice %></p>
<div class="reservations-container">
<h1>予約一覧</h1>
</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Book</th>
        <th>Star Date</th>
        <th>Return Date</th>
        <th>Pick up?</th>
        <th>Returned?</th>
      </tr>
    </thead>
    
    <% @reservations.each do |reservation| %>
    <% if reservation.book %>
      <tr>
        <td><%= reservation.user.name %></td>
        <td><%= reservation.book.title %></td>
        <td><%= reservation.start %></td>
        <td><%= reservation.end %></td>
        <td><%= reservation.checkin %></td>
        <td><%= reservation.checkout %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
